<div class="container">

    <div class="d-flex">

        <div class="card-img zooming">
            <img src="../../../assets/08.jpg" class="w-100 p-1 shadow" alt="...">
        </div>

        <div class="card-img zooming">
            <img src="../../../assets/Cyberpunk-amarillo.jpg" class="w-100 p-1 shadow" alt="...">
        </div>

        <div class="card-img zooming">
            <img src="../../../assets/cyberpunk-azul.jpg" class="w-100 p-1 shadow" alt="...">
        </div>

        <div class="card-img zooming">
            <img src="../../../assets/Cyberpunk-verde.jpg" class="w-100 p-1 shadow" alt="...">
        </div>

        <div class="card-img zooming">
            <img src="../../../assets/08.jpg" class="w-100 p-1 shadow" alt="...">
        </div>

    </div>

</div>

