html,
body{
    background-color: rgb(4, 5, 6);
}

.icon{
    margin: 50px 10px;
    font-size: 1.5rem;

}

p{
    margin: 0;
    padding: 0;
}

.thumbnail {
    position: relative;
}

.caption {
    border-radius: 15px;
    position: absolute;
    top: 60%;
    left: 100px;
    width: 100%;
}